app = "utn-fitness-api"

[build]
  image = "alexiscaspell/fitness-app-api:0.3.4"

[[services]]
  internal_port = 5000
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = "80"
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = "443"